.navbar-brand {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}
p {
    text-align: left;
}
h1 {
    text-align: center;
    font-weight: bolder;
    color: indigo;
}
span {
    color: indigo;
    font-weight: bold;
    
}
u {
    color: indigo;
}
footer {
    text-align: center;
    color: indigo;
}
.insta {
    display: block;
    text-align: center;
}
.fb {
    display: block;
    text-align: center;
}
.raddit {
    display: block;
    text-align: center;
}
.discord {
    display: block;
    text-align: center;
}
.wp {
    display: block;
    text-align: center;
}
.snap {
    display: block;
    text-align: center;
}
