
/* h1 {
    color: blue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
/* img {
    float: right;
    margin: 5px;
} */
/* p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.pic {
    border: solid 5px green;
} */
/* .heading {
    color: #d83f31;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
} */
.error {
    text-align: center;
    font-size: 100px;
}
footer {
    text-align: center;
}
/* .edu {
border: solid 3px red;
display: inline-block;
width: 270px;
text-align: center;
margin: 5px;
position: relative;


} */
/* .add {
    border: solid 3px red;
    display: inline-block;
   text-align: center;
    width: 270px;
    margin: 5px;
    padding: 0%;
    position: relative;
    
    
   
} */
/* .contact {
    border: solid 3px red;
    display: inline-block;
    width: 270px;
    text-align: center;
    margin: 5px;
    position: absolute;

} */
h4 {
    text-decoration: solid underline;
    color: #EE9322;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
/* footer {
    border: solid 2px black;
} */
.socialmedia {
    border: solid 2px black;
    margin: 1px;
    padding: 1px;
    text-align: center;
}
.img_1 {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.img_2 {
    position: relative;
    display: inline-block;
    margin-right: 30px;
     
}
.img_3 {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.img_4 {
    position: relative;
    display: inline-block;
    margin-right: 30px;

}
.img_5 {
    position: relative;
    display: inline-block;
    margin-right: 30px;
}
.gallery {
    border: solid 5px red;
    height: 70px;
    width: 200px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #c23373;
}
#span {
    color: #3d158c;
}
.img_6 {
    position: relative;
    display: inline-block;
}
@media (min-width: 280px) and (max-width: 480px) {
    * {
        background-color: whitesmoke;
    }
    h1 {
        color: #3d158c;
        font-display: auto;
        text-align: center;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .pic {
        text-align: center;
        border: solid 5px #3d158c;
        position: relative;
        left: 5px;
        right: 50px;
        float: none;
        padding: 0%;
        margin: 20px;
        
    }
    #intro {
        text-align: center;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-style: normal;
        color: #016a70;
    }
    .edu {
        position: relative;
        border: solid 10px #016a70;

    }
    .add {
        position: relative;
        border: solid 10px #d2de32;
    }
    .contact {
        position: relative;
        border: solid 10px #071952;
    }
    
    
}
